// button {
//   line-height: 2.55555556 !important;
// }

input[type="hidden"] {
  display: none;
}
 
.za-radio__text {
  display: inline-block;
  font-size: 24px;
  z-index: 1111;
}

.za-radio__input {
  z-index: 1111;
}
