// button {
//   line-height: 2.55555556 !important;
// }
 

.tab-icon {
  image {
    width: 48px;
    height: 48px;
  }
}

.za-tab-bar__item .za-tab-bar__icon {
  display: inline-block;
  vertical-align: middle;
  width: 48rpx;
  height: 48rpx;
  font-size: 18rpx;
}